<!doctype html>
<html lang="en">
  <head>
    <title>Modern Schooling - MaxCoach</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./dist/img/favicon-32x32.png" type="image/x-icon">
    <!-- My Style -->
    <link rel="stylesheet" href="./dist/css/app.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div id="root">
        <!-- Site Header -->
        <header class="position-relative">
            <div class="my-container py-3">
                <!-- Navbar -->
                <nav class="d-flex justify-content-between align-items-center">
                    <a class="" href="#">
                        <img src="./dist/img/dark-logo.png" width="200" alt="">
                    </a>
                    <div class="d-flex align-items-center justify-content-between">
                      <ul class="m-0">
                        <li v-for="navlink in navbarLinks"><a href="#">{{navlink}} <i class="fa fa-chevron-down" aria-hidden="true"></i></a> </li>
                      </ul>
                      <div id="shopping_cart" class="position-relative">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <div>0</div>
                      </div>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <div id="search">
                        <input type="text" name="search" id="search" placeholder="Search...">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                      </div>
                    </div>
                </nav>
                <!-- /Navbar -->

                <!-- Jumbotron -->
                <div class="jumbo d-flex justify-content-between py-5">
                  <!-- Jumbo Text -->
                  <div id="jumbo_text">
                    <h1>Complete Your Dreams in JavaS Programming</h1>
                    <p>Learn any coding program in distance and for a reasonable fee. You don't have to struggle alone, you've got our assistance and help.</p>
                    <a href="#">
                      <i class="fa fa-download px-3" aria-hidden="true"></i>
                      Download free E-book
                    </a>
                  </div>
                  <!-- /Jumbo Text -->

                  <!-- Hero Image -->
                  <div id="hero_img" class="text-right">
                    <img src="./dist/img/home-5-hero-image.png" alt="ragazzo scrive codice pc">
                  </div>
                  <!-- /Hero Image -->

                </div>  
                <!-- /Jumbotron -->
            </div>
            <div id="jumbo_overlay">
              <img src="./dist/img/jumbo-overlay.svg" alt="sfondo grigio scuro">
            </div>           
        </header>
    <!-- /Site Header -->

    <!-- Site Main Content -->
        <main>
          <!-- Intro -->
          <section id="intro" class="my-container">
            <h3>start learning coding languages</h3>
            <h2>Build Your Dream <span>TODAY</span></h2>
            <div class="d-flex">
              <div v-for="info in introInfos" class="info_card px-2">
                <img :src="info.img" alt="">
                <h4>{{info.title}}</h4>
                <p>{{info.text}}</p>
                <a href="#">Start now <i class="fa fa-arrow-right pl-2" aria-hidden="true"></i></a>
              </div>
            </div>
          </section>
          <!-- /Intro -->

          <!-- Career -->
          <section id="career" class="d-flex my-container">
            <div class="position-relative">
              <img id="underlay_purple"src="./dist/img/underlay-shape-lilla.svg" alt="macchia viola">
              <img src="./dist/img/about-us-03-image-01.png" alt="ragazzo esulta al pc">
            </div>
            <div>
              <h3>dream with <strong>maxcoach</strong></h3>
              <h2 class="">Construct A <span>Stunning</span> Career Perspective</h2>
              <div class="career_features">
                <h4 class="feature_active">Multiple Platforms Supported for Teaching & Studying
                  <i class="fa fa-minus" aria-hidden="true"></i> 
                </h4>
                <p>Max Coach supports the act of teaching and learning o multiple platforms like online or offline via material downloads. We know things aren't supposed to be devoured in a short time, you can always access our knowledge base from any device.</p>
              </div>
              <div class="career_features">
                <h4>Multiple Course Participation at the Same Time
                  <i class="fa fa-plus" aria-hidden="true"></i> 
                </h4>
                </div>
              <div class="career_features">
                <h4>Track Study Progress & Deliver Prompt Feedback
                  <i class="fa fa-plus" aria-hidden="true"></i> 
                </h4>
              </div>
            </div>

          </section>
          <!-- /Career -->

          <!-- Company Numbers -->
          <section id="numbers">
            <div class="my-container d-flex justify-content-between text-center">
              <div v-for="number in companyNumbers">
                <div class="numb">{{number.numb}}</div>
                <h3><strong>{{number.desc}}</strong> </h3>
              </div>
            </div>
          </section>
          <!-- /Company Numbers -->

          <!-- Courses -->
          <section id="courses">
            <h3 class="text-center">choose where you'd like to begin</h3>
            <h2 class="text-center">Latest Featured <span>Courses</span></h2>
            <div class="my-container d-flex flex-wrap justify-content-between">
              <div class="course" v-for="course in courses">
                <img :src="course.img" alt="">
                <div class="course_info">
                  <div class="d-flex align-items-center">
                    <img :src="course.teacherPicture" alt="foto insegnante">
                    <div>{{course.teacher}}</div>
                  </div>
                  <h4>{{course.name}}</h4>
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="far fa-file-alt"></i>
                      <div>{{course.lessons}} Lessons</div>
                    </div>
                    <div class="d-flex ml-5 align-items-center">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <div>{{course.students}} Students</div>
                    </div>
                  </div>
                </div>
                <div class="course_price">
                   {{course.price}}
                </div>
              </div>
            </div>
            <div class="text-center py-5">
              <a href="#">
                View all courses <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>

          </section>
          <!-- /Courses -->

          <!-- Register -->
          <section id="register" class="my-container">
              <div>
                <h3>why hesitate to register?</h3>
                <h2 class="w-75">Learn At Your Own <span>Pace</span></h2>
                <ul class="m-0">
                  <li v-for="el in coursesFeatures" class="py-2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{el}}
                  </li>
                </ul>
                <a href="#">Get started for free</a>
              </div>
              <div class="position-relative">
                <img src="./dist/img/home-5-image-01.png" alt="ragazzo scrive codice pc">
                <div id="register_underlay">
                  <img id="" width="450px" src="./dist/img/underlay-shape-grey.svg" alt="">
                  <img src="./dist/img/maxcoach-shape-05.png" alt="">
                </div>

              </div>
          </section>
          <!-- /Register -->

          <!-- Mobile App -->
          <section id="mobile_app" class="my-container">
            <div class="position-relative text-center">
              <img src="./dist/img/home-5-image-02.png" alt="">
              <img id="mobile_shape_dots" src="./dist/img/maxcoach-shape-07.png" alt="">
              <img id="mobile_underlay" src="./dist/img/underlay-shape-grey.svg" alt="">
              <img id="mobile_shape_raws" src="./dist/img/maxcoach-shape-01.png" alt="">
              <div id="mobile_circle"></div>
            </div>
            <div id="mobile_text">
              <h3>what are you looking for?</h3>
              <h2>Learn on your <span>mobile</span> anytime!</h2>
              <p>Save lessons for later and revise or write notes at any time and on multiple devices on your way. Never interfere with activities of enjoyment or other precious moments.</p>
              <a href="#">Download Our App</a>
            </div>
          </section>
          <!-- /Mobile App -->

          <!-- Events -->
          <section id="events" class="my-container">
            <h3 class="text-center">get in contact now</h3>
            <h2 class="text-center">Upcoming <span>Events</span></h2>
            <div class="d-flex flex-wrap justify-content-between">
              <div class="event d-flex justify-content-between" v-for="event in events">
                <div class="w-75">
                  <div class="event_place"><i class="fas fa-map-marker-alt pr-3"></i>{{event.place}}</div>
                  <h4 class="event_name">{{event.name}}</h4>
                </div>
                <div class="text-center">
                  <div class="event_date">{{event.date}}</div>
                  <div class="event_month">{{event.month}}</div>
                  <a href="#">Get ticket</a>
                </div>
              </div>
            </div>
          </section>
          <!-- /Events -->



          <!-- Testimonials -->
          <section id="testimonials">
            <div id="all_events">
              Excited about our event? 
              <a href="#">View all events <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="my-container">
              <h3>people are praising maxcoach</h3>
              <h2>What make they <span>love us?</span></h2>
              <div class="testimonials d-flex justify-content-between">
                <div class="testimonial position-relative" v-for="testimonial in testimonials">
                  <div class="testimonial_text">{{testimonial.text}}</div>
                  <div class="testimonial_name">{{testimonial.name}}</div>
                  <div class="testimonial_profession py-3">/ {{testimonial.profession}}</div>
                  <img :src="testimonial.picture" alt="">
                </div>
              </div>
              <div id="dots" class="py-5 d-flex align-items-center justify-content-center">
                <i v-for="dot in 4" class="fa fa-circle px-2" aria-hidden="true"></i>
              </div>
            </div>
          </section>
          <!-- /Testimonials -->
        </main>
    <!-- Site Main Content -->

    <!-- Site Footer -->
        <footer>

        </footer>
    <!-- /Site Footer -->
      </div>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
  </body>
</html>