/* Intro Section */
#intro{
    @include section;
    text-align: center;
    .info_card{
        padding-top: 100px;
        img {
            height: 250px;
            padding-bottom: 20px;
        }
        p {
            color: $brand_text_gray;
            font-size: 15px;
            font-weight: 400;
            padding: 30px 0;
        }
        a {
            color: #9693aa;
            font-weight: 600;
        }
    }
}

/* Career Section */
#career {
    @include section;
    &>div {
        width: 50%;
    }
    img {
        width: 60%;
    }
    #underlay_purple {
        position: absolute;
        top: 93px;
        left: -136px;
        z-index: -1;
    }
    .career_features {
        @include card_shadow;
        color: #696969;
        border-radius: 10px;
        margin-top: 40px;        
        h4{
            padding: 20px;
            font-size: 20px;
            font-weight: 600;
            position: relative;
        }
        i {
            position: absolute;
            right: 20px;
            background-color: $brand_text_gray;
            border-radius: 50%;
            font-size: 15px;
            color: white;
            padding: 5px;
            text-align: center;
        }
        p{
            padding: 30px;
            font-size: 15px;
        }
    }
    .feature_active {
            border-radius: $bordi_stondati_sopra;
            background-color: $brand_text_green;
            color: white;
            filter:brightness(1.15);
            i {
                background-color: white;
                color: $brand_text_green;
            }  

    }
}

/* Company Numbers Section */
#numbers {
    @include section;
    background-color: $brand_numbers_bg;
    margin-top: 100px;
    padding: 50px 0;
   .numb {
       color: $brand_text_green;
       font-size: 60px;
       font-weight: 800;
   }
   h3 {
       font-size: 20px;
   }
}

/* Courses Section */
#courses {
    @include section;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
    border-bottom-left-radius: 50% 120px;
    border-bottom-right-radius: 50% 120px;
    .course {
        width: calc((100% - 60px) / 3);
        position:relative;
        color: $brand_text_gray;
        img {
            border-radius: $bordi_stondati_sopra;
            width: 100%;
        }
        h4{
            @include card_title
        }
        .course_info {
            padding: 40px;
            font-size: 15px;
            img {
                width: 50px;
                border-radius: 50%;
                margin-right: 20px;
            }
            i{
                font-size: 18px;
                margin-right: 10px;
            }
        }
        .course_price{
            position:absolute;
            top: 0;
            right: 0;
            border-radius: 0 10px 0 10px;
            background-color: $brand_text_green;
            color: white;
            width: 120px;
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            padding: 10px 0;
        }
    }
    a {
        @include button_sm;
    }
}

/* Register */
#register {
    @include two_col;
    @include section;
    ul {
        padding-inline-start: 0;
        color: $brand_text_gray;
        padding-bottom: 50px;
        i{
            color: $brand_text_green;
            padding-right: 15px;
        }
    }
    a {
        @include button_sm;
    }
    #register_underlay {
        @include underlay;
        top: 130px;
        left: -86px;
    }
}

/* Mobile App */
#mobile_app {
    @include two_col;
    @include section;
    #mobile_shape_dots{
        @include underlay;
        right: 15px;
        bottom: 50px;
    }
    #mobile_shape_raws {
        @include underlay;
        left: -90px;
        top: 250px;
    }
    #mobile_underlay{
        @include underlay;
        width: 430px;
        left: 0;
        bottom: -40px;

    }
    #mobile_circle{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 8px solid #ecc5ab;
        position: absolute;
        right: 0;
        top: 50px;
    }
    #mobile_text{
        padding-left: 90px;
        a{
            @include button_sm;
        }
        p{
            padding-bottom: 30px;
        };
    }

}

/* Events */
#events{
    @include section;
    padding: 0;
    .event {
        h4 {
            @include card_title;
            padding: 15px 0;
        }
        background-color: $brand_gray_bg;
        width: 49%;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        .event_place {
            color: $brand_text_gray;
        }
        .event_date {
            font-size: 45px;
            color: $brand_text_green;
            line-height: 40px;
        }
        .event_month {
            text-transform: uppercase;
            font-size: 18px;
            padding-bottom: 10px;
        }
        a{
            @include button_sm;
            padding: 5px 30px;
            min-width: 150px;
        }
    }
}



/* Testimonials */
#testimonials {
    @include section;
    text-align: center;
    padding-top: 0;
    background-color: $brand_gray_bg;
    border-top-right-radius: -100px -500px;
    #all_events{
        font-size: 18px;
        padding-top: 30px;
        text-align: center;
        color: $brand_text_gray;
        font-weight: 500;
        a {
            font-weight: 600;
            color: $brand_text_green;
            border-bottom: 0.5px solid $brand_text_gray;
        }
        width: 100%;
        height: 250px;
        border-bottom-right-radius: 50% 250px;
        background-color: white;
        margin-bottom: 100px;
    
    }
    .testimonial {
        width: 32%;
        background-color: white;
        border-radius: 10px;
        padding: 100px 20px 30px 20px;
        margin-top: 100px;
        font-size: 17px;
        font-weight: 500;
        @include card_shadow;
        img {
            position: absolute;
            top: -65px;
            left: 50%;
            height: 130px;
            transform: translate(-50%);
            border-radius: 50%;
        }
        .testimonial_text {
            color: $brand_text_purple;
            padding-bottom: 20px;
        }
        .testimonial_name {
            text-transform: uppercase;
        }
        .testimonial_profession {
            color: $brand_text_gray;
             font-size: 14px;
        }
    }
    #dots {
        font-size: 10px;
        color: $brand_text_gray;
        i:nth-child(1) {
            font-size: 15px;
            color: $brand_text_purple;
        }
    }
}