/* Intro Section */
#intro{
    @include section;
    text-align: center;
    .info_card{
        padding-top: 100px;
        img {
            height: 250px;
            padding-bottom: 20px;
        }
        p {
            color: $brand_text_gray;
            font-size: 20px;
            font-weight: 400;
            padding: 30px 0;
        }
        a {
            color: #9693aa;
            font-weight: 600;
        }
    }
}

/* Career Section */
#career {
    @include section;
    &>div {
        width: 50%;
    }
    img {
        width: 60%;
    }
    #underlay_purple {
        position: absolute;
        top: 120px;
        left: -170px;
        z-index: -1;
    }
    .career_features {
        box-shadow: rgba(41, 46, 51, 0.2) 0px 8px 24px 8px;
        color: #696969;
        border-radius: 5px;
        margin-top: 40px;        
        h4{
            padding: 20px;
            font-size: 25px;
            font-weight: 600;
            position: relative;
        }
        i {
            position: absolute;
            right: 20px;
            background-color: $brand_text_gray;
            border-radius: 50%;
            font-size: 15px;
            color: white;
            padding: 5px;
            text-align: center;
        }
        p{
            padding: 30px;
            font-size: 20px;
        }
    }
    .feature_active {
            border-radius: $bordi_stondati_sopra;
            background-color: $brand_text_green;
            color: white;
            filter:brightness(1.15);
            i {
                background-color: white;
                color: $brand_text_green;
            }  

    }
}