$header_bg: #e9e6e3;
$brand_text_purple: #3f3a64;
$brand_text_blue_haze: #b6b8d1;
$brand_text_green: #20ad96;
$brand_text_gray: #959999;
$brand_numbers_bg: #faf8f6;
$bordi_stondati_sopra: 10px 10px 0 0;

@mixin button_sm {
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: $brand_text_green;
    &:hover {
        background-color: red;
        text-decoration: none;
    }
}
@mixin section {
    padding: 50px 0;
    h2{
        color: $brand_text_purple;
        font-size: 60px;
        font-weight: 700;
        padding: 40px 0;
        span {
            color: $brand_text_green;
            font-weight: 400;

        }
    }
    h3 {
        text-transform: uppercase;
        color: $brand_text_purple;
        font-size: 18px;
        font-weight: 400;
    }
}


